%p#notice= notice
%h1 Últimas Noticias
- @notices.each do |notice|
  .list-group

    %h2= link_to notice.title, notice
    %p= notice.body.truncate_words(60)
  %hr
%br/
= link_to 'Crear noticia', new_notice_path, class: 'btn btn-secondary'
