= form_for([@notice, @notice.comments.build]) do |f|

  .form-group
    = f.label 'Comentario'
    = f.text_area :body, class: 'form-control'

  .actions
    = f.submit 'Enviar comentario', class: 'btn btn-info'
